* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #6a5af9, #d66ba0);
    min-height: 100vh;
    transition: background 0.3s;
}